# Домашнее задание 2.

- Влияние стандартизации признаков на модель линейной регрессии
- Интерпретация модели линейной регрессии 

В качестве набора данных мы будем пользоваться данными о стоимости домов в King County, Wahington, USA. Перед вами стоит задача предсказания стоимости дома.

## 1. Обучите линейную модель

1. Для обучения используйте только набор данных `kc_house_data_train.csv`, набором данных `kc_house_data_test.csv` вы воспользуетесь в самом конце для тестирования качества.

2. Разбейте выборку `kc_house_data_train.csv` на тренировочную и валидационную в отношении 7:3. Используйте `sklearn.model_selection.train_test_split`. Исключите из рассмотрения столбцы `id`, `zipcode`, `lat`, `long`.

3. Обучите линейную модель `sklearn.linear_model.LinearRegression` (с параметрами по умолчанию) на предсказание столбца `price`.  - Чему равно качество такой модели в терминах Mean Squared Error на тренировочной и валидационной выборке?
- Какие признаки имеют наибольший положительный и отрицательный вес? Насколько это согласуется с вашей интуицией?

In [1]:
import pandas as pd

In [4]:
pd.options.display.max_columns=30

In [6]:
pd.read_csv('kc_house_data_train.csv', index_col=0).head(3)

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
21162,8691440440,20141003T000000,882990.0,4,3.50,3560,6562,2.0,0,0,3,10,3560,0,2014,0,98075,47.5929,-121.974,3710,6562
16877,2725069108,20140805T000000,750000.0,3,3.25,4610,81935,2.0,0,0,4,9,4610,0,1984,0,98074,47.6217,-122.021,2900,43500
16116,8026200080,20140715T000000,372000.0,4,1.75,1890,10550,1.0,0,0,5,7,1010,880,1969,0,98056,47.5147,-122.193,1930,7291

## 2. Стандартизация признаков

Поскольку в линейной модели мы ищем целевую характеристику ввиде линейной комбинации признаков, то мы бы хотели чтобы величины признаков измерялись в сопоставимых масштабах. Сравните различные подходы к стандартизации признаков:

1. Стандартизация или z-scoring: (x - mean(x)) / std(x). Среднее каждого признака становится равно 0, стандартное отклонение становится равно 1.
2. Нормализация к [0, 1]: (x - min(x)) / (max(x) - min(x))
3. Логарифмирование: log(x + 1). Потенциальным недостатком первых двух подходов является необходимость подсчета статистик на тренировочной выборке и применение их на тестовой.

Обратите внимание что подсчет всех статистик mean, std, min, max должен производиться на тренировочной части данных и применяться к тестовой (потому что на практике у вас нет никакой статистики на этапе предсказание, вы делаете предсказание для конкретного 1ого дома).

Воспользуйтесь методами `sklearn.preprocessing.StandardScaler` и `sklearn.preprocessing.MinMaxScaler`. Обучайте модель линейной регрессии на тренировочной части данных, делайте предсказание и оценивайте качество на валидационной.

4. Какой из подходов дает наилучшее качество (включая отсутствие какой бы то нибыло стандартизации данных)?
5. Как меняются веса признаков в линейной модели при применении различных видов стандартизации?

## 3. Отбор признаков

1. Воспользуйтесь методом `sklearn.feature_selection.RFE` для отбора 5 наиболее важных признаков. 
- сравните как меняется результат для 3 подходов к стандартизации признаков и для случая без нормировки
- в рамках каждого подхода сравните отобранные 10 признаков с 10 признаками имеющими наибольшую важность для базовой модели (обученной на всех данных). Подготовьте таблицу важности признаков, в которой каждый столбец соответствует какому-то методу нормировки данных. Сравните какие признаки оказываются важными в разных сценариях. Прокомментируйте полученный результат.

|LR|LR-standartized|LR-normalized|LR-log|LR-standartized-RFE|LR-normalized-RFE|LR-log-RFE|

2. Оцените качество каждой из 7 обученных моделей на тестовой части данных `kc_house_data_test.csv` не забудьте применить соответствующие преобразования (стандартизация и пр). Совпадают ли лучшая модель на валидации и на тесте?

## Подготовьте репорт о выполненном домашнем задании

Подготовьте текстовый репорт о выполенном домашнем задании. 

Вы можете вставлять в текст таблицы и/или графики на ваше усмотрение, текст репорта должен быть в двухколоночном формате не более 2 страниц 12 кеглем Times New Roman (крайне желательно 1 страница), см. шаблон https://docs.google.com/document/d/1YqnO0OFbTR7XgzmdWryQF22J1kl9Fg7hSlNbqa6Jbiw/edit?usp=sharing

Подготовленный репорт и jupyter notebook c вашим решением необходимо отправить на почту kurmukovai@gmail.com, с темой письма [iitp-intro-ds-2023-ha2-Surname], например [iitp-intro-ds-2023-ha2-Kurmukov] до 23:59:59 МСК 04.03.2023.